/* Write your code here. */
.nav-container {
  background-color: #ffffff33;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  align-self: stretch;
}
@media screen and (min-width: 768px) {
  .nav-container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 20px;
  width: 20px;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 60px;
    height: 60px;
  }
}

.logo-title {
  font-family: 'Roboto';
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .logo-title {
    font-size: 20px;
  }
}

.score-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.score {
  font-family: 'Roboto';
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .score {
    font-size: 20px;
    margin-left: 20px;
    line-height: 1.5;
  }
}
